{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rubius - Symfony Skeleton App</title>

    <!-- Bootstrap Core CSS -->
    <link href="/rubius/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/rubius/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/rubius/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{% block body %}
{% endblock %}
<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Theme from <a href="http://startbootstrap.com/">Start Bootstrap</a></p>
    </div>
</footer>

<!-- jQuery -->
<script src="/rubius/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/rubius/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/rubius/js/jquery.easing.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/rubius/js/grayscale.js"></script>

</body>

</html>

