{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">

                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Rubius Skeleton</h1>
                        <p class="intro-text">A Symfony 2.8 skeleton App<br>With some starter kit bundles.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Rubius Skeleton</h2>
                <p>Rubius Skeleton it's a starter kit for <a href="http://symfony.com">Symfony</a> (2.8) based applications. Once v3.0 it's already out, composer file will be updated after all bundles get compatibility OK.</p>
            </div>
            <div class="col-lg-12">
                <h3>included bundles</h3>
                <a href="http://symfony.com/doc/current/bundles/DoctrineFixturesBundle/index.html" class="btn btn-default btn-lg">Doctrine fixtures</a>
                <a href="http://symfony.com/doc/current/bundles/DoctrineMigrationsBundle/index.html" class="btn btn-default btn-lg">Doctrine Migrations</a>
                <a href="https://github.com/FriendsOfSymfony/FOSJsRoutingBundle" class="btn btn-default btn-lg">FOSjsRouting</a>
                <a href="https://github.com/FriendsOfSymfony/FOSRestBundle" class="btn btn-default btn-lg">FOSRestBundle</a>
                <a href="https://github.com/FriendsOfSymfony/FOSUserBundle" class="btn btn-default btn-lg">FOSUserBundle</a>
                <a href="https://github.com/misd-service-development/guzzle-bundle" class="btn btn-default btn-lg">GuzzleBundle</a>
                <a href="http://jmsyst.com/bundles/JMSSerializerBundle" class="btn btn-default btn-lg">JMSserializerBundle</a>
                <a href="https://github.com/nelmio/NelmioApiDocBundle" class="btn btn-default btn-lg">NelmioApiDocBundle</a>
                <a href="https://github.com/theofidry/PsyshBundle" class="btn btn-default btn-lg">PsyshBundle</a>
                <a href="https://github.com/whiteoctober/WhiteOctoberPagerfantaBundle" class="btn btn-default btn-lg">WhiteOctoberPagerPhantaBundle</a>
                <a href="https://github.com/winzou/StateMachineBundle" class="btn btn-default btn-lg">Winzou State Machine</a>
            </div>
        </div>

    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2></h2>
                    <p>Clone from git repo.</p>
                    <a href="https://gitlab.com/rudi-rocha/rubius-app" class="btn btn-default btn-lg">Visit Git Repo</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

